<!-- {{-- <div class="bg-white">
    <h1 class="title-big font-poppins text-accent">Hola Mundo</h1>
    <h1 class="title-medium font-poppins text-neutral">Hola Mundo</h1>
    <h1 class="title-base100 font-poppins text-base-100">Hola Mundo</h1>
    <h1 class="title-base200 font-poppins text-base-200">Hola Mundo</h1>
    <h1 class="title-parrafo font-poppins text-base-300">Hola Mundo</h1>
    <h1 class="title-small font-poppins">Hola Mundo</h1>
    <h1 class="title-btn font-poppins">Hola Mundo</h1>
</div> --}} -->